{% comment %} theme-check-disable: LiquidHTMLParsingError {% endcomment %}

{% assign results = collections.all %}
{% assign enable_filtering = true %}
<form
  id="desktopfilterform"
>
  {%- for filter in results.filters -%}
    {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
    {% case filter.type %}
      {% when 'boolean', 'list' %}
        {% if filter.label == 'More filters' %}
          <div class="Facet">
            {% assign tag_name = filter.values %}
            {%- for value in filter.values -%}
              {% assign name = value.value | split: '__' %}
              {% if prevValue != name[0] %}
            <span>{{- name[0] }} </span>
            <select name="{{ filter.param_name | escape }}">
              <option value="" name="">Select</option>
                {%  endif  %}
                  <option name="{{ value.param_name }}"
                    value="{{ value.value }}" >{{ name[1] }} </option>

                  {% assign prevValue = name[0]  %}
                {%- endfor -%}
              </select>
          </div>
        {% else %}
          <div class="Facet">
            {% case filter.label %}
            {% when "Product type" %}
               <span> {{ section.settings.product_type_text}}</span>
             
           
            {% else %}
              <span>{{- filter.label | escape }} </span>
          {% endcase %}
            <div class="wrapper">
              <select name="{{ filter.param_name | escape }}">
                <option value="" name="">Select</option>
                {%- for value in filter.values -%}
                  <option
                    name="{{ value.param_name }}"
                    value="{{ value.value }}"
                  >
                    {{- value.label | escape }} 
                  </option>
                {%- endfor -%}
              </select>
            </div>
          </div>
        {% endif %}
    {% endcase %}
  {%- endfor -%}
  <input type="submit" value="search">
</form>


{% comment %} theme-check-enable: LiquidHTMLParsingError {% endcomment %}

{% comment %} <script type="text/x-template" id="field-component"> 

            <select name="${ filter.param_name | escape }">
              <option value="" name="">Select</option>
                  <option name="${ value.param_name }"
                    value="value.value" > ${vendor}</option>
              </select>
     

</script> {% endcomment %}

{% style %}
.Facet > span{
    color: black;
    text-align: initial;
    font-family: 'chivo';
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: red;
  font-size: 3rem;
  font-weight: 600;

  text-transform: uppercase !important;

}

form#desktopfilterform {
  width: 60vw;
  margin: auto;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}


form#desktopfilterform input[type='checkbox'] {
  display: inline-block;
  width: auto;
  width: 40px;
  height: 40px
}
form#desktopfilterform select {
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	background:url('{{'arrow.svg' | asset_url}}');
	background-repeat:no-repeat;
  	background-position:right;
    padding-right: 2rem;
}

form#desktopfilterform select:active {
	background:url('{{'arrow-rotated.svg' | asset_url}}');
  	background-repeat:no-repeat;
  	background-position:right;

}

.Facet select,
input#Filter-Price-LTE {
  font-size: 3rem;
  background: transparent;
  text-transform: uppercase;
  font-weight: 600;
  padding: .2rem .3rem;
  color: #d22426;
  border: 0;
  font-family: 'chivo';
  cursor: pointer;
}

.Facet {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}


.Facet span {
  text-transform: capitalize;
}


.curreny-formfield {
  padding: revert;
}

.Facet *:focus-visible {
  outline: initial;
  outline-offset: initial;
  box-shadow: initial;
}

form#desktopfilterform input[type='submit'] {
  margin-top: 1rem;
  padding: 1rem 4rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  background: #fff;
  border: 1px solid #d22426;
  color: #d22426;
}

@media (max-width : 991px) {
  .Facet {
    flex-direction: column;
  }

  .Facet span {
    flex-basis: initial;
  }

  form#desktopfilterform {

    font-size: 2rem;
  }

  .Facet select,
  input#Filter-Price-LTE {
    font-size: 1rem;
  }
  .Facet select, input#Filter-Price-LTE {
    font-size: 2rem;
  }
}
 
{% endstyle %}

<script>

 const form = document.querySelector('#desktopfilterform').addEventListener('submit', (e) => {
   e.preventDefault();
   const formdata = new FormData(document.querySelector('#desktopfilterform'));
   let searchparams = '?';
   for (const [key, value] of formdata) {
     searchparams += `${key}=${value}&`;
   }
   filterableparams = searchparams.replace(' ', '+');
   window.location.href = `/collections/all${filterableparams}`;
  });
</script>
{% schema %}
{
  "name": "Filter",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "product_type_text",
      "label": "product type label text: "
    }
  ],
  "presets": [
    {
      "name": "Filter",
      "category": "home"
    }
  ]
}
{% endschema %}
