{% assign results = collections.all %}
{% assign enable_filtering = true %}
<form
  id="desktopfilterform"
>
  {%- for filter in results.filters -%}
    {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
    {% case filter.type %}
      {% when 'boolean', 'list' %}
        <div class="Facet">
          <span>{{- filter.label | escape }} </span>
          <div class="wrapper">
            <select name="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}">
              <option value="" name="">Select</option>
              {%- for value in filter.values -%}
                <option
                  name="{{ value.param_name }}"
                  value="{{ value.value }}"
                >
                  {{- value.label | escape }} (
                  {%- if value.count == 1 -%}
                    {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                  {%- else -%}
                    {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                  {%- endif -%}
                  )
                </option>
              {%- endfor -%}
            </select>
          </div>
        </div>
      {% when 'price_range' %}
        {% liquid
          assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
          assign uses_comma_decimals = false
          if currencies_using_comma_decimals contains cart.currency.iso_code
            assign uses_comma_decimals = true
          endif
        %}

        <div
          class="Facet"
        >
          <span> Budget of {{ filter.label | escape }}</span>
          <div class="{% if filter_type == 'horizontal' %}facets__header{% else %}facets__header-vertical{% endif %}">
            {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
          </div>
          <price-range class="facets__price">
            <div class="field">
              {%- if filter_type != 'vertical' -%}
                <span class="field-currency">{{ cart.currency.symbol }}</span>
              {%- endif -%}
              <input
                class="curreny-formfield"
                name="{{ filter.max_value.param_name }}"
                id="Filter-{{ filter.label | escape }}-LTE"
                type="number"
                min="0"
              >
            </div>
          </price-range>
        </div>
    {% endcase %}
  {%- endfor -%}
  <input type="submit" value="search">
</form>

{% javascript %}
  const form = document.querySelector('#desktopfilterform').addEventListener('submit', (e) => {
    e.preventDefault();
    const formdata = new FormData(document.querySelector('#desktopfilterform'));
    let searchparams = '?';
    for (const [key, value] of formdata) {
      searchparams += `${key}=${value}&`;
    }
    filterableparams = searchparams.replace(' ', '+');
    window.location.href = `/collections/all${filterableparams}`;
  });
{% endjavascript %}
{% schema %}
{
  "name": "Filter",
  "tag": "section",
  "class": "section",
  "settings": [],

  "presets": [
    {
      "name": "Filter",
      "category": "home"
    }
  ]
}
{% endschema %}
